/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commons */

/* Typography */

html{
    font-size: 18px;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

/* Buttons */